html,
body {
  margin: 20px;
}

#files {
  overflow: auto;
  height: 500px;
}
#files ul li {
  list-style: none;
}
#files ul li i.fa-folder {
  color: #add8e6;
}

#preview {
  overflow: auto;
  height: 500px;
  padding-right: 15px;
}
#preview video,
#preview img {
  height: 100%;
  width: 100%;
}
