{{outlet 'addressbar'}}

<div class="col-xs-5 col-sm-5 col-md-5" id="files">
  <ul class="fa-ul">
    {{#each file in controller}}
      {{#if canShowFile}}
        {{clickable-file action="open" openContextMenu="openContextMenu" file=file}}
      {{/if}}
    {{/each}}
  </ul>
</div>
<div class="col-xs-7 col-sm-7 col-md-7">
  {{outlet}}
</div>